@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #22ab59;
    --secondary-color: #bfe0cd;
    --dark-color: #30394D;
    --white-color: #FFF;
    --light-color: #F6F5F2;
}



